<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>URL Classifier</h1>
        <form id="urlForm" action="/predict" method="post">
            <label for="url">Enter URL:</label>
            <input type="text" id="url" name="url" required>
            <button type="submit">Predict</button>
        </form>
        <div id="result"></div>
    </div>
    <script>
       document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault();
    const url = document.getElementById('url').value;
    const resultDiv = document.getElementById('result');

    // Check if the URL input is empty
    if (!url) {
        resultDiv.textContent = 'Please enter a URL.';
        resultDiv.classList.add('show');
        return;
    }

    // Check if the URL is in a valid format
    const urlPattern = /^(https?:\/\/)?([\da-z.-]+)\.([a-z.]{2,6})([/\w .-]*)*\/?$/;
    if (!urlPattern.test(url)) {
        resultDiv.textContent = 'Please enter a valid URL.';
        resultDiv.classList.add('show');
        return;
    }

    fetch('/predict', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `url=${encodeURIComponent(url)}`,
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            resultDiv.textContent = `Error: ${data.error}`;
        } else {
            resultDiv.textContent = `The URL is ${data.result}`;
        }
        resultDiv.classList.add('show');
    })
    .catch(error => {
        resultDiv.textContent = 'An error occurred. Please try again.';
        resultDiv.classList.add('show');
    });
});

    </script>
</body>
</html>
